<ul>
    <li class="level1"><a href="/home/index">Home</a></li>
    <li class="level1"><a href="/home/aboutUs">About Us</a></li>
    <li class="level1"><a href="/user/index">User</a></li>
    <li class="level2"><a href="/user/login">Login</a></li>
    <li class="level2"><a href="/user/registration">Registration</a></li>
    <li class="level2"><a href="/user/showOneUser">Show One User</a></li>
    <li class="level2"><a href="/user/showMultipleUser">Show Multiple Users</a></li>

</ul>